version: '3'
services:
  backend:
    build: ./backend
    ports:
      - 8123:8080
  # frontend:
  #   build: ./frontend
  #   ports:
  #     - 80:80
  #     - 443:443
  #   depends_on:
  #     - backend
  