<div class="flex-container flex-row full-height container">
    <div class="text-container">
        <h1 class="title">
            <span>Connect to your friends</span>
            <span class="subtitle">all over the world</span>
        </h1>
        <div class="button-container">
            <button mat-raised-button [routerLink]="'/update-location'">
                <mat-icon>edit_location</mat-icon>
                Update location
            </button>
            <button mat-raised-button [routerLink]="'request-location'">
                <mat-icon>map</mat-icon>
                Request location
            </button>
        </div>
    </div>
    <div class="animation">
        <img src="../../assets/world.gif" />
    </div>
</div>