#request-location{
    gap: 28px;
    overflow: hidden;

    #top-row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

    }
    #bottom-row{
        padding: 20px 40px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        #userInfo{
            width: 33%;
            #user{
                display: flex;
                //align-items: center;
                justify-content: space-between;
                width: 100%;
                column-gap: 8px;
                .inputButton{
                    width: 25%;
                    height: 53px;
                }
                #UserInput{                
                    width: calc(50% - 3px);
                    height: 75px;
                }
            }
            #userTable{
                width: 100%;
                table{
                    width: 100%;
                    #headerRow{
                        background-color: #e9e5e5;
                        height: 50px;
                        #number{
                            width: 25%;
                        }
                        #username{
                            width: 50%;
                        }
                        #deselect{
                            width: 25%;
                        }
                    }
                }
            }
        }
        #request-location-map {
            width: 50%;
            height: 500px;
            padding: 0;
          }
    }
}
