<header>
    <mat-toolbar class="toolbar">
        <a mat-button [routerLink]="">
            <span>Update location</span>
        </a>
        <span class="spacer"></span>
        <a [routerLink]="'home'" mat-button class="toolbar-action">
            <span class="headline headline-start">FRIENDS &</span>
            <span class="headline headline-end"> PLACES</span>
        </a>
        <span class="spacer"></span>
        <a mat-button [routerLink]="">
            <span>Request location</span>
        </a>
    </mat-toolbar>
</header>