<header>
    <mat-toolbar class="toolbar">
        <a *ngIf="isUserAuthenticated()" mat-icon-button [routerLink]="" [matTooltip]="'Update location'">
            <mat-icon>edit_location</mat-icon>
        </a>
        <a *ngIf="isUserAuthenticated()" mat-icon-button [routerLink]="'request-location'" [matTooltip]="'Request location'">
            <mat-icon>map</mat-icon>
        </a>
        <span class="spacer"></span>
        <a [routerLink]="''" mat-button class="toolbar-action">
            <span class="headline headline-start">FRIENDS &</span>
            <span class="headline headline-end"> POSITIONS</span>
        </a>
        <span class="spacer"></span>
        <a *ngIf="isUserAuthenticated()" mat-icon-button [matTooltip]="'Logout'" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </a>
    </mat-toolbar>
</header>