<div class="flex-container">
    <img class="titel" src="">
    <h2>UPDATE LOCATION</h2>
</div>

<div class="update-location-container">
    <div class="update-location-leftside">

        <div class="update-location-information">
            <form [formGroup]="updateLocationForm" class="flex-container form-field">
                <mat-form-field  class="full-width whole-line non-editable" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input  matInput  [readonly]="true" formControlName="username" >
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Postalcode</mat-label>
                    <input matInput formControlName="postalcode">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput formControlName="street">
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput formControlName="country">
                </mat-form-field>
            </form>
        </div>

        <div class="action-buttons">

            <button (click)="updateLocation()" [disabled]="updateLocationForm.invalid" mat-raised-button color="primary">
                <mat-icon>location_on</mat-icon>
                            OK
            </button>
       
            <button mat-raised-button [routerLink]="''">
                <mat-icon>home</mat-icon>
                Abbrechen
            </button>

        </div>

    </div>

    <div id="map"class="update-location-rightside update-location-map">

    </div>

</div>