
.titel{
    
}
.update-location-container {
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    display: flex
}



.update-location-leftside {
    flex: 6;
}

.update-location-information {


}
.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.update-location-rightside {
    flex: 5;
}

.update-location-error-message {


}
.uupdate-location-map {


}

.spacer {
    margin: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}


.non-editable{
    // background-color: lightgray;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#map {
    width: 75%;
    height: 500px;
    padding: 0;
  }

.non-editable {
    cursor: not-allowed !important;
}
