/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import 'styles/material-icons.scss';
@import 'styles/roboto.scss';

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100vh;
  margin: 0;
  min-width: 360px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 100%;
}

.app-container>* {
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.green-snackbar {
  background: rgb(36, 185, 91);
  color: white;
}

.green-snackbar button {
  background-color: rgb(36, 185, 91);
  color: white;
  border: none;
}

.red-snackbar {
  background: #F44336;
  color: white;
}

.red-snackbar button {
  background-color: #F44336;
  color: white !important;
  border: none;
}

.flex-row {
  flex-direction: row;
}

.success-snackbar {
  --mdc-snackbar-container-color: rgb(60, 197, 42);
  --mat-mdc-snack-bar-button-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: rgb(217, 32, 32);
  --mat-mdc-snack-bar-button-color: white;
}

.center-vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
}

.full-height {
  height: 100%;
}